*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.slider-container{
    width: 100%;
    height: 100vh;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.swiper{
    width: 80%;
    height: fit-content;
    object-fit: cover;
}


.swiper-slide img{
    width: 100%;
    object-fit: cover;

}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
    color: #fff;
}

.swiper .swiper-pagination-bullet-active{
    background: #fff;
}