* {
    margin: 0;
    padding: 0;
}

body {
    font-family: mr-eaves-modern, sans-serif;
    font-size: 1rem;
    color: #475467;
    margin: 0;
}

h1,
h2 {
    font-family: kepler-std-display, serif;
}

@media(max-width: 675px){
    body {
        font-size: 1rem;
        margin: 0;
    }
}

@media(max-width: 400px){
    body {
        font-size: 0.8rem;
        margin: 0;
    }
}
/* typography */

h1.logo-text {
    font-size: 1rem;
    letter-spacing: 0em;
    margin: 0 0;
}

h1.hero-text {
    font-size: 3rem;
    background: linear-gradient(99.27deg, #63CBEE -11.49%, #FFE485 27.23%, #ECFDF3 60.04%, #FDBD1C 100.73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
}

h1.page-header-name{
    font-size: 3rem;
    background-clip: text;
    text-align: center;
    color: #aaaaaa;
    font-weight: 4;
    margin: 0 1em;
    text-transform: uppercase;
}


h2 {
    font-size: 1.5rem;
    color: #1D2939;
    line-height: 0.065em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

h3 {
    font-family: mr-eaves-modern, sans-serif;
    font-size: 1.2em;margin-bottom: 0.5em;
}

p {
    font-size: 1em;
    line-height: 1.5em;
    margin: 1em 0;
}

p.company-name {
    margin: 0;
}

a {
    text-decoration: none;
    
}
a.view:hover {
    text-decoration: underline;
}

a.current-site:active {
    color: #AD7205;
}

.header a:active {
    color: #AD7205;
}
        /****TOP PAGE TITLE*****/
.page-name{
    display: flex;
    margin: 2.5em 0 2.5em 0;
    width: 100%;
    justify-content: center;
    height: fit-content;
    align-items: center;
}
.page-header-line{
    width: 15%;
    background-color: #d0d5dd;
    height: 1px;
}

/***********************************
        
            layout container 


 ***********************************/


img {
    max-width: 100%;
}

.outlined {
    width: 5em;
    height: 2px;
    background-color: #AD7205 ;
}

.center-outlined {
    margin-left: auto;
    margin-right: auto;
    width: 5em;
    height: 2px;
    background-color: #AD7205 ;
    margin-bottom: 1em;
}



/* *************
    LAYOUT      
*** ************/
.container {
    max-width: 1260px;
    margin: 0 auto;
    width: 95%;
    display: flex;
    flex-flow: column;
    position: relative;
    align-items: center;
}

/* navigator layout */
.header {
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    width: 100%;
    z-index: 600;
    background: white;
    position: sticky;
    top: 0;
    padding: 0 4rem;
    padding-bottom: 16px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
    
}
.header ul{
    display: flex;
    list-style-type: none;
    
}

@media(max-width: 675px){
    .header {
    position: relative;
    }
    .header ul.primary{
        flex-flow: column wrap;
        width: 100%;
    }
    
}


.header .sociallinks {
    display: flex;
    justify-content: flex-end;
}
.header .sociallinks ul {
    margin-left: auto;
    margin-right: 0.25em;

    height: fit-content;
    margin: 0;
    padding-top: 1em;
}

.navigator {
    display: flex;
    align-items: center;
}

@media(max-width: 675px){
    .navigator {
        flex-flow: column wrap;
        
    }
    
    ul.primary li {
        padding: 0.25em;
        border-bottom: 1px solid #40404010;
        text-align: center;
        
    }
}


.logo-company-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-title {
    margin-left: 0.5em;
    
}
@media(max-width: 675px){
    .company-title {
        text-align: center;
    }       
}

nav {
    width: 60%;
    margin: 0 auto;
}
@media(max-width: 675px){
    nav  {
        width: 100%;
    }
}

nav li {
    margin: 0 8px;
}

@media(max-width: 675px){
    nav li {
        margin: 4px 8px;
    }
}


.logo-title {
    display: flex;
}

.header a{
    text-decoration: none;
    color: #1D2939;
    padding-bottom: 4px;
    
    
}

a.current-site {
    border-bottom: 2px solid #AD7205;
}



/* HERO */

.hero {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin: 1em auto;
    background-color: #404040;
    
}

img.hero-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.hero-title {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: 500;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.hero h1 {
    text-align: center;

}

/* ROW ONE */

div.row {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 6rem auto;
    gap: 2em;
}

@media(max-width: 675px){
    div.row {
        flex-flow: column;
        margin: 1em 0;
        gap: 0;
    }
}


.content { 
    display: flex;
    justify-content: center;
    align-items: stretch;
    max-width: 45%;
    margin: 0 auto;
}

@media(max-width: 675px){
    .content{
        order: 1;
        max-width: 100%;
        margin-bottom: 1em;
    }
}

div.holder{
    
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-items: stretch;
    align-items: flex-start;
    justify-content: center;
}

@media( max-width: 675){
    div.holder {
        align-items: stretch;
    }
}

.row.two .content{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    max-width: 50%;
    margin: 0 auto 0 0;
}
@media(max-width:675px){
    .row.two .content{
        max-width: 100%;
        margin-bottom: 1em;
    }
}

.content-image{
    max-width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 3 auto;
}

@media(max-width: 675px){
    .content-image{
        max-width: 100%;
        order: 2;
        align-items: stretch;
        align-content: center;
    }
}


.row img {
    max-width: 70%;
    object-fit: contain;
}

@media(max-width: 675px){
    .row img {
        max-width: 100%;
        object-fit: cover;
    }
}

.btn {
    padding: 0.25em 1em;
    border: 1px solid #D3DBE9;
    border-radius: 0.25em;
    background-color: white;
    color: #AD7205;
    margin-bottom: 1em 0;
    margin-right: 1em;
}

.btn:hover {
    text-decoration: underline;
}

@media(max-width:675px){
    .btn {
        text-align: center;
        padding: 1em 3em 0.8em;
        align-self: flex-start;
    }
}
/********** 
        GALLERY SECTION
*************/

.row.gallery{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    margin: 4em auto;
}

@media(max-width: 675px){
    .row.gallery{
        margin: 1em 0;
    }
}

.row.gallery .section {
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    width: 100%;
}

@media(max-width: 675px){
    .row.gallery .section {
        margin: 0;
    }
}

.row.gallery .section p {
    margin: 0em;
}


.row.gallery .media {
    display: flex;
    justify-content: center;
    padding: 3em;
}

@media(max-width: 675px){
    .row.gallery .media{
        padding: 0;
        margin: 1em 0 ;
        width: 100%;
        justify-content: space-between;
        align-items: center;

    }
}


.row.gallery .media a{
    display: flex;
    flex-flow: column;
    align-items: center;
    
}
.approach-team__staff {
    color: #404040;
    font-family: mr-eaves-modern, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
    outline: 0;
    text-align: center;
    max-width: 480px;
    position: relative;
    width: calc(100%/3 - 16px);
    
}

/* ***  SERVICE GALLERY  *** */

.services-gallery {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 16px;
    justify-items: center;
    margin: 2em 8em; */
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(156px, 1fr));
    grid-gap: 1rem;
    justify-items: center;
    position: relative;
}

.services-gallery .links{
    /* display: flex;
    flex-flow: column; */
    position: relative;
    align-items: center;
    max-width: 80%;
    color: #AD7205;
    border-radius: 10px;
}


.services-gallery a img{
    /* width: 233px;
    height: 233px;
    object-fit: cover; */
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: .5s;
}

.links:before{
    content: "PHOTO GALLERY";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
}

.links:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    transition: .3s;
    background-color: rgba(0,0,0,.4);
}
.links.wedding:before{
    content: "WEDDINGS";
    text-align: center;
}
.links.corporate:before{
    content: "CORPORATE";
    text-align: center;
}
.links.parties:before{
    content: "PARTIES";
    text-align: center;
}
.links.event-staffing:before{
    content: "EVENT STAFFING";
    text-align: center;
}
.links.tourism:before{
    content: "TOURISM";
    text-align: center;
}
.links.burials:before{
    content: "BURIALS";
    text-align: center;
}
.links.conferences:before{
    content: "CONFERENCES";
    text-align: center;
    FONT
}


.links:hover::after{
    height: 100%;
}

.links:hover::before {
    margin-top: 0;
    opacity: 1;
}


.services-gallery a h3{
    display:block;
    position: absolute;
    color: #d8d5d560;
}

.services-gallery a:hover{
    transform: translateY(-2px);
    box-shadow: 3px 3px 10px #00000070;
    cursor: pointer;
}

@media(max-width: 450px){
    .services-gallery{
        width: 80%;
        margin: 2em auto;
        
    }

    .services-gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.125em;
    }
    .services-gallery .links {
        border-radius: 0.125em;
    }
    .services-gallery a img{
        border-radius: 0.125em;
    }

    .links:before{
        font-size: 0.8em;
    }
}


/****   SERVICES INFORMATIONS    ****/

.carousel {
  
    height: 50vmin;
    border: 1px solid green;
    margin: 0 0 2.5em 0;
}

.carousel img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.service-content-section {
    display:grid;
    grid-template-columns: [nav-link]1fr [content] 2fr;
    grid-template-rows: [main] 1fr;
    grid-gap: 20px;
    margin: 0 0 2.5em 0;
}

.service-nav {
    grid-area: 1/1/2/2;
    width: 100%;
    margin: 0 0;
}

.service-nav ul {
    display: flex;
    flex-direction: column;
}

.service-nav li {
    display: block;
    margin: 6px 0 0 0;
    padding: 0 1em 0 37px;
    background: url(./images/icons/graybox.jpg) repeat-y;
}

.service-nav li a {
    color: #475467;
    font-size: 3vmin;
}

.service-nav li a:hover {
    text-decoration: underline;
}

.service-nav li a.active-link {
    background: url(./images/icons/double-right-outlined.svg) 0 5px no-repeat;
    padding: 0 0 0 20px;
    background-position: left;
}

.service-nav-info {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.service-ctn {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 2em;
}


body > div > div.row.gallery > div.media > div.approach-team__staff > a > figure {
    margin: 0;
}

body > div > div.row.gallery > div.media > div.approach-team__staff > a {
    margin: 0;
    color: #AD7205;
}



/* *******
    Portfolio Section
********** */

.portfolio-container * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.portfolio-container {
    margin-bottom: 2.5em;
}

input {
    display: none ;
}



.container2 {
    width: 100%;
    text-align: center;
    
    
}

.top-content {
    background-color: rgb(240, 240, 240);
    width: 90%;
    margin: 0 auto 20px auto;
    /* height: 60px; */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    border-radius: 10px;
    box-shadow: 3px 3px 5px lightgray;
}

.top-content h3 {
    height: 100%;
    background-color: rgb(221, 221, 221);
    line-height: 60px;
    padding: 0 50px;
    color: white;
}

.top-content label {
    display: inline-block;
    height: 100%;
    margin: 0 0.5em;
    line-height: 60px;
    font-size: 18px;
    color: gray;
    cursor: pointer;
    transition: color .5s;
}

.top-content label:hover {
    color: black;
}


.photo-gallery {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(156px, 1fr));
    grid-gap: 1rem;
    
}

.pic {
    position: relative;
    max-height: 230px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
    transition: .5s;
}

.pic img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: .5s;
}

.pic:before {
    content: "PHOTO GALLERY";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
}

.pic:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    transition: .3s;
    background-color: rgba(0,0,0,.4);
}

.pic:hover::after{
    height: 100%;
}

.pic:hover::before {
    margin-top: 0;
    opacity: 1;
}

#check1:checked ~ .container2 .photo-gallery .pic{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}

#check2:checked ~ .container2 .photo-gallery .weddings{
    transform: scale(1);
    opacity: 1;
    position: relative;
    transition: .5s;
}

#check2:checked ~ .container2 .photo-gallery .corporate,
#check2:checked ~ .container2 .photo-gallery .parties,
#check2:checked ~ .container2 .photo-gallery .staffing,
#check2:checked ~ .container2 .photo-gallery .tourism,
#check2:checked ~ .container2 .photo-gallery .burials,
#check2:checked ~ .container2 .photo-gallery .conferences{
   opacity: 0;
   transform: scale(0);
   position: absolute;
   transition: .0s;
}

#check3:checked ~ .container2 .photo-gallery .corporate{
    transform: scale(1);
    opacity: 1;
    position: relative;
    transition: .5s;
}

#check3:checked ~ .container2 .photo-gallery .weddings,
#check3:checked ~ .container2 .photo-gallery .parties,
#check3:checked ~ .container2 .photo-gallery .staffing,
#check3:checked ~ .container2 .photo-gallery .tourism,
#check3:checked ~ .container2 .photo-gallery .burials,
#check3:checked ~ .container2 .photo-gallery .conferences{
   opacity: 0;
   transform: scale(0);
   position: absolute;
   transition: .0s;
}

#check4:checked ~ .container2 .photo-gallery .parties{
    transform: scale(1);
    opacity: 1;
    position: relative;
    transition: .5s;
}

#check4:checked ~ .container2 .photo-gallery .weddings,
#check4:checked ~ .container2 .photo-gallery .corporate,
#check4:checked ~ .container2 .photo-gallery .staffing,
#check4:checked ~ .container2 .photo-gallery .tourism,
#check4:checked ~ .container2 .photo-gallery .burials,
#check4:checked ~ .container2 .photo-gallery .conferences{
   opacity: 0;
   transform: scale(0);
   position: absolute;
   transition: .0s;
}
#check5:checked ~ .container2 .photo-gallery .staffing{
    transform: scale(1);
    opacity: 1;
    position: relative;
    transition: .5s;
}

#check5:checked ~ .container2 .photo-gallery .weddings,
#check5:checked ~ .container2 .photo-gallery .corporate,
#check5:checked ~ .container2 .photo-gallery .parties,
#check5:checked ~ .container2 .photo-gallery .tourism,
#check5:checked ~ .container2 .photo-gallery .burials,
#check5:checked ~ .container2 .photo-gallery .conferences{
   opacity: 0;
   transform: scale(0);
   position: absolute;
   transition: .0s;
}
#check6:checked ~ .container2 .photo-gallery .tourism{
    transform: scale(1);
    opacity: 1;
    position: relative;
    transition: .5s;
}

#check6:checked ~ .container2 .photo-gallery .weddings,
#check6:checked ~ .container2 .photo-gallery .corporate,
#check6:checked ~ .container2 .photo-gallery .parties,
#check6:checked ~ .container2 .photo-gallery .staffing,
#check6:checked ~ .container2 .photo-gallery .burials,
#check6:checked ~ .container2 .photo-gallery .conferences{
   opacity: 0;
   transform: scale(0);
   position: absolute;
   transition: .0s;
}
#check7:checked ~ .container2 .photo-gallery .burials{
    transform: scale(1);
    opacity: 1;
    position: relative;
    transition: .5s;
}

#check7:checked ~ .container2 .photo-gallery .weddings,
#check7:checked ~ .container2 .photo-gallery .corporate,
#check7:checked ~ .container2 .photo-gallery .parties,
#check7:checked ~ .container2 .photo-gallery .staffing,
#check7:checked ~ .container2 .photo-gallery .tourism,
#check7:checked ~ .container2 .photo-gallery .conferences{
   opacity: 0;
   transform: scale(0);
   position: absolute;
   transition: .0s;
}
#check8:checked ~ .container2 .photo-gallery .conferences{
    transform: scale(1);
    opacity: 1;
    position: relative;
    transition: .5s;
}

#check8:checked ~ .container2 .photo-gallery .weddings,
#check8:checked ~ .container2 .photo-gallery .corporate,
#check8:checked ~ .container2 .photo-gallery .parties,
#check8:checked ~ .container2 .photo-gallery .staffing,
#check8:checked ~ .container2 .photo-gallery .tourism,
#check8:checked ~ .container2 .photo-gallery .burials{
   opacity: 0;
   transform: scale(0);
   position: absolute;
   transition: .0s;
}





.mikey::before{
    content: "mike & devy";
}

/* *******
    Potfolio Images Slider
********** */
.slider-container{
    width: 100%;
    height: 100%;
    background: #222;
}


/* *******
    FOOTER
********** */

footer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    background: #344054;
    color: white;
    padding: 4em;
    width: 100%;
    margin-top: 2.5rem;
}

Footer nav,ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 1em 0;
}

@media( max-width: 675px){
    footer nav{
        margin-bottom: 0.5em;
        margin: 0.25em 0;
    }
}

footer ul {
    padding: 0;
    align-items: center;
    align-items: center;
    justify-content: space-between;
}

@media( max-width: 675px){
    footer ul{
        flex-flow: row wrap;
    }
}


footer nav li{
    margin: 0 1em;
}

@media (max-width: 675px) {
    footer nav li {
        margin: 0.5em 2em ;
    }
}

footer a{
    color: white;
}


/* *************
    ABOUT PAGE
*************** */


        /****Typography****/



        /****LAYOUT****/

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    margin: 0 2em;
}
#team-section {
    display: flex;
    flex-direction: column;
    margin: 6rem;
}
@media(max-width: 675px){
    #team-section {
        margin: 1em 0;
    }
}

#team.row {
    justify-content: space-between;
    margin: 0 auto;
}
@media(max-width: 675px){
    #team.row {
        align-items: stretch;
    }
}


#team .content{
    width: 67%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0 2em;
}

@media(max-width: 675px){
    #team .content{
        max-width: 100%;
        width: 100%;
        margin: 0 0;
        
    }
}

.team-row {
    display: flex;
    justify-content: space-between;
}

.team-image{
    width: 33%;
    display: flex;
    justify-content: center;
    margin: 2rem 0 0 0;
    gap: 2em;
    order: 2;
}

@media(max-width: 675px){
    .team-image {
        width: 100%;
    }
}

.team-image img {
    max-width: 70%;
    object-fit: contain;
}
@media(max-width: 675px){
    .team-image img {
        max-width: 100%;
    }
}

@media(max-width: 675px){
   

    h1.hero-text {
        font-size: 2.3rem;
        line-height: 1.2em;
    }
    
    h1.page-header-name{
        font-size: 2rem;
    }
    
    
    h2 {
        font-size: 1rem;
        color: #1D2939;
        line-height: 0.065em;
    }
    
    p {
        line-height: 1.5em;
    }
    
    a {
        text-decoration: none;
        
    }

    
   
}




/* *************
    CONTACT US PAGE
*************** */
.form-section *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.form-section {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 20;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-form {
    background-color: hsl(34, 20%, 55%);
    position: relative;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(135deg, transparent, 20%, hsl(39, 53%, 41%));
    position: absolute;
}

.circle.one{
    width: 130px;
    height: 130px;
    top: 10px;
    right: -40px;
}
.circle.two{
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
}

.contact-form:before{
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: hsl(34, 20%, 55%);
    transform: rotate(45deg);
    top: 50px;
    left: -13px;

}



.contact-form form{
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

.title{
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
}

.input-container{
    position: relative;
    margin: 1rem 0;
}



.contact-form input{
    display: initial;
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    border-radius: 10px;
    transition: 0.3s;
}

.contact-form textarea.input{
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 10px;
    resize: none;
    overflow-y: auto;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    color: #fff;
}

.input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 100;
    transition: 0.5s;
}

.input-container.textarea label{
    top: 1rem;
    transform: translateY(0);
}

.contact-form form .btn2{
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 0.93rem;
    color: #AD7205;
    line-height: 1;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    width: initial;
    
}

.contact-form form .btn2:hover{
    background-color: hsl(34, 20%, 55%);
    color: white;
}

.input-container span{
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    
}

.input-container span:before,
.input-container span:after{
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: hsl(34, 20%, 55%);
    top: 50%;
    transform: translateY(-50%);
    
}

.input-container span:before{
    left: 50%;
}

.input-container span:after{
    right: 50%;
}

.input-container.focus label{
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after{
    width: 50%;
    opacity: 1;
}

.info .icon {
    width: 28px;
}

.contact-info{
    padding: 2.3rem 2.2rem;
    position: relative;
}

.contact-info h3{
    color: #AD7205;
}

.text {
    color: #333;
    margin: 1.5rem 0 2rem 0;
}

.info-details{
    display: flex;
    color: #555;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 0.95rem;
}

.icon{
    width: 28px;
    margin-right: 0.7rem;
}

.social-media{
    padding: 2rem 0 0 0;
}
.social-media p{
    color: #333;
}

.social-icons{
    display: flex;
    margin-top: 0.5rem;
}

.social-icons a{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, #a38f75, #c0881f );
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
}

.social-icons a:hover{
    transform: scale(1.05);
}

.contact-info::before{
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid hsl(34, 20%, 55%);
    border-radius: 50%;
    bottom: -77px;
    right: 50px;
    opacity: 0.3;
}

@media(max-width:850px){
    .form-section{
        grid-template-columns: 1fr;
    }

    .contact-info::before{
        bottom: initial;
        top: -75px;
        right: 65px;
        transform: scale(0.95);
    }

    .contact-form:before{
        top: -13px;
        left: initial;
        right: 70px;
        
    }
}

@media(max-width: 400px){
    .title {
        font-size: 1.15rem;
    }
    .icon{
        width: 23px;
    }

    .input{
        padding: 0.45rem 1.2rem;
    }

    .btn2{
        padding: 0.45rem 1.2rem;
    }
}