* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
    color: #475467;
    margin: 0;
}

@media(max-width: 675px){
    body {
        font-size: 1rem;
        margin: 0;
    }
}
/* typography */

h1.logo-text {
    font-size: 1rem;
    letter-spacing: 0em;
    margin: 0 0;
}

h1.hero-text {
    font-size: 3rem;
    background: linear-gradient(99.27deg, #63CBEE -11.49%, #FFE485 27.23%, #ECFDF3 60.04%, #FDBD1C 100.73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
}

h1.page-header-name{
    font-size: 3rem;
    background-clip: text;
    text-align: center;
    color: #aaaaaa;
    font-weight: 4;
    margin: 0 1em;
    text-transform: uppercase;
}


h2 {
    font-size: 1.5rem;
    color: #1D2939;
    line-height: 0.065em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

p {
    line-height: 1.5em;
    margin: 1em 0;
}

p.company-name {
    margin: 0;
}

a {
    text-decoration: none;
    
}

a:active {
    border: 1px solid #475467;
}
        /****TOP PAGE TITLE*****/
.page-name{
    display: flex;
    margin: 2.5em 0 0 0;
    width: 100%;
    justify-content: center;
    height: fit-content;
    align-items: center;
}
.page-header-line{
    width: 15%;
    background-color: #d0d5dd;
    height: 1px;
}

/***********************************
        
            layout container 


 ***********************************/


img {
    max-width: 100%;
}

.outlined {
    width: 5em;
    height: 2px;
    background-color: #AD7205 ;
}

.center-outlined {
    margin-left: auto;
    margin-right: auto;
    width: 5em;
    height: 2px;
    background-color: #AD7205 ;
    margin-bottom: 1em;
}



/* *************
    LAYOUT      
*** ************/
.container {
    max-width: 1260px;
    margin: 0 auto;
    width: 95%;
    display: flex;
    flex-flow: column;
}

/* navigator layout */
.header {
    display: flex;
    flex-flow: column nowrap;
}
.header ul{
    display: flex;
    list-style-type: none;
    
}

@media(max-width: 675px){
    .header ul.primary{
        flex-flow: column wrap;
        width: 100%;
    }
}


.header .sociallinks {
    display: flex;
    justify-content: flex-end;
}
.header .sociallinks ul {
    margin-left: auto;
    margin-right: 0.25em;

    height: fit-content;
    margin: 0;
    padding-top: 1em;
}

.navigator {
    display: flex;
    align-items: center;
}

@media(max-width: 675px){
    .navigator {
        flex-flow: column wrap;
    }
    
    ul.primary li {
        padding: 0.25em;
        border-bottom: 1px solid #40404010;
        text-align: center;
        
    }
}


.logo-company-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-title {
    margin-left: 0.5em;
    
}
@media(max-width: 675px){
    .company-title {
        text-align: center;
    }       
}

nav {
    width: 100%;
    margin: 0 auto;
}

nav li {
    margin: 0 8px;
}

@media(max-width: 675px){
    nav li {
        margin: 4px 8px;
    }
}


.logo-title {
    display: flex;
}

.header a{
    text-decoration: none;
    color: #1D2939;
    padding-bottom: 4px;
    
}

a.current-site {
    border-bottom: 2px solid #AD7205;
}



/* HERO */

.hero {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin: 1em auto;
    background-color: #404040;
    
}

img.hero-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.hero-title {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: 500;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.hero h1 {
    text-align: center;

}

/* ROW ONE */

div.row {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 6rem auto;
    gap: 2em;
}

@media(max-width: 675px){
    div.row {
        flex-flow: column;
        margin: 1em 0;
        gap: 0;
    }
}


.content { 
    display: flex;
    justify-content: center;
    align-items: stretch;
    max-width: 45%;
    margin: 0 auto;
}

@media(max-width: 625px){
    .content{
        order: 1;
        max-width: 100%;
        margin-bottom: 1em;
    }
}

div.holder{
    
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-items: stretch;
    align-items: flex-start;
    justify-content: center;
}

@media( max-width: 675){
    div.holder {
        align-items: stretch;
    }
}

.row.two .content{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    max-width: 50%;
    margin: 0 auto 0 0;
}
@media(max-width:675px){
    .row.two .content{
        max-width: 100%;
        margin-bottom: 1em;
    }
}

.content-image{
    max-width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 3 auto;
}

@media(max-width: 675px){
    .content-image{
        max-width: 100%;
        order: 2;
        align-items: stretch;
        align-content: center;
    }
}


.row img {
    max-width: 70%;
    object-fit: contain;
}

@media(max-width: 675px){
    .row img {
        max-width: 100%;
        object-fit: cover;
    }
}

.btn {
    padding: 0.25em 1em;
    border: 1px solid #D3DBE9;
    border-radius: 0.25em;
    background-color: white;
    color: #AD7205;
}

@media(max-width:675px){
    .btn {
        text-align: center;
        padding: 1em 3em 0.8em;
        align-self: flex-start;
    }
}
/********** 
        GALLERY SECTION
*************/

.row.gallery{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    margin: 4em auto;
}

@media(max-width: 675px){
    .row.gallery{
        margin: 1em 0;
    }
}

.row.gallery .section {
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    width: 100%;
}

@media(max-width: 675px){
    .row.gallery .section {
        margin: 0;
    }
}

.row.gallery .section p {
    margin: 0em;
}


.row.gallery .media {
    display: flex;
    justify-content: center;
    padding: 3em;
}

@media(max-width: 675px){
    .row.gallery .media{
        padding: 0;
        margin: 1em 0 ;
        width: 100%;
        justify-content: space-between;
        align-items: center;

    }
}


.row.gallery .media a{
    display: flex;
    flex-flow: column;
    align-items: center;
    
}
.approach-team__staff {
    color: #404040;
    font-family: mr-eaves-modern, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
    outline: 0;
    text-align: center;
    max-width: 480px;
    position: relative;
    width: calc(100%/3 - 16px);
    
}

body > div > div.row.gallery > div.media > div.approach-team__staff > a > figure {
    margin: 0;
}

body > div > div.row.gallery > div.media > div.approach-team__staff > a {
    margin: 0;
    color: #AD7205;
}
/* *******
    FOOTER
********** */

footer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    background: #344054;
    color: white;
    padding: 4em;
}

Footer nav,ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 1em 0;
}

@media( max-width: 675px){
    footer nav{
        margin-bottom: 0.5em;
        margin: 0.25em 0;
    }
}

footer ul {
    padding: 0;
    align-items: center;
    align-items: center;
    justify-content: space-between;
}

@media( max-width: 675px){
    footer ul{
        flex-flow: row wrap;
    }
}


footer nav li{
    margin: 0 1em;
}

footer a{
    color: white;
}


/* *************
    ABOUT PAGE
*************** */


        /****Typography****/



        /****LAYOUT****/

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    margin: 0 2em;
}
#team-section {
    display: flex;
    flex-direction: column;
    margin: 6rem;
}
@media(max-width: 675px){
    #team-section {
        margin: 1em 0;
    }
}

#team.row {
    justify-content: space-between;
    margin: 0 auto;
}
@media(max-width: 675px){
    #team.row {
        align-items: stretch;
    }
}


#team .content{
    width: 67%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0 2em;
}

@media(max-width: 675px){
    #team .content{
        max-width: 100%;
        width: 100%;
        margin: 0 0;
        
    }
}

.team-row {
    display: flex;
    justify-content: space-between;
}

.team-image{
    width: 33%;
    display: flex;
    justify-content: center;
    margin: 2rem 0 0 0;
    gap: 2em;
    order: 2;
}

@media(max-width: 675px){
    .team-image {
        width: 100%;
    }
}

.team-image img {
    max-width: 70%;
    object-fit: contain;
}
@media(max-width: 675px){
    .team-image img {
        max-width: 100%;
    }
}

@media(max-width: 675px){
   

    h1.hero-text {
        font-size: 2.3rem;
        line-height: 1.2em;
    }
    
    h1.page-header-name{
        font-size: 2rem;
    }
    
    
    h2 {
        font-size: 1rem;
        color: #1D2939;
        line-height: 0.065em;
    }
    
    p {
        line-height: 1.5em;
    }
    
    a {
        text-decoration: none;
        
    }

    
   
}